<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>Create Event</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" action="/events/create">
        <div class="mb-3">
            <label>Name
                <input th:field="${event.name}" class="form-control">
                <!-- Note: The name field must match the Event object property-->
            </label>
            <p th:errors="${event.name}" class="error"></p>
        </div>
        <div class="mb-3">
            <label>Description
                <input class="form-control" th:field="${event.description}">
                <!-- Note: The description field must match the Event object property-->
            </label>
            <p th:errors="${event.description}" class="error"></p>
        </div>
        <div class="mb-3">
            <label>Contact Email
                <input class="form-control" th:field="${event.contactEmail}">
            </label>
            <p th:errors="${event.contactEmail}" class="error"></p>
        </div>
        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="Create Event">
        </div>
    </form>
</body>
</html>