<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${events} and ${events.size()}">No events.</p>

    <table class="table table-striped">
        <thread>
            <tr>
                <th>Name</th>
                <th>Edit</th>
            </tr>
            <tr th:each="event : ${events}">
                <td><a th:href="'/events/details?eventDetails=' + ${event.id}" th:text="${event.name}"></a></td>
<!--                Note: thymeleaf is set up to reference the getName() function of the above class.-->
<!--                This is just syntactic sugar built into thymeleaf-->
                <td>
                    <a class="btn btn-success" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
                </td>
            </tr>
        </thread>
    </table>

</body>
</html>