<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>Coding Events</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${events} and ${events.size()}">No events.</p>

    <table class="table table-striped">
        <thread>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Location</th>
                <th>Email</th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.date}"></td>
<!--                Note: thymeleaf is set up to reference the getName() function of the above class.-->
<!--                This is just syntactic sugar built into thymeleaf-->
                <td th:text="${event.description}"></td>
                <td th:text="${event.location}"></td>
                <td th:text="${event.contactEmail}"></td>
                <td>
                    <a class="btn btn-success" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
                </td>
            </tr>
        </thread>
    </table>

</body>
</html>